<div class="container-fluid footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3 footerservice">
                <br>
                <h2>Services</h2>
                <p>Mobile Applications</p>
                <p>Desktop Applications</p>
                <p>Web Applications</p>
                <p>Quality Assurance</p>
                <p>Cloud & Infrastructure Services</p>
                <p>System Moderization</p>
            </div>
            <div class="col-md-2 footerservice">
                <br>
                <h2>Industries</h2>
                <p>Healthcare</p>
                <p>Finalcial Services</p>
                <p>Marketing</p>
            </div>
            <div class="col-md-2 footerservice">
                <br>
                <h2>Company</h2>
                <p>About Us</p>
                <p>Services</p>
                <p>Industries</p>
                <p>Careers</p>
                <p>Login</p>
            </div>
            <div class="col-md-5 footerservice">
                <br>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d62647.26900736991!2d76.96368670237122!3d11.079478714734726!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba8f7f3acac202b%3A0xb9a1348889c47108!2sSaravanampatti%2C%20Coimbatore%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1608976335492!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="map"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>