<app-menu-section></app-menu-section>
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <h2 class="card-header info-color white-text py-4">
                    <strong>Employee Login</strong>
                </h2>
                <div class="card-body px-lg-5 pt-0">
                    <form class="text-center" style="color: #757575;" action="#!">
                        <div class="md-form">
                            <input type="email" id="materialLoginFormEmail" class="form-control">
                            <label>E-mail</label>
                        </div>
                        <div class="md-form">
                            <input type="password" id="materialLoginFormPassword" class="form-control">
                            <label for="materialLoginFormPassword">Password</label>
                        </div>
                        
                        <div class="md-form">
                            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<app-footer-section></app-footer-section>

