<div class="container-fluid" class="statement">
    <div class="container">
        <div class="col-md-12">
            <br>
            <h2 class="statement_header">CodeBuilders Delivers High-End Software Products and Services</h2>
        </div>
        <div class="col-md-12">
            <p class="statement_text">CodeBuilders is full-service custom application development firm that helps customers grow and keep up, in a constantly changing technology landscape. We at CodeBuilders develop and support business applications for customers in wide range of industries. We strive to work on projects where the CodeBuilders teams can add the most value, not projects where we can charge the highest rate or work indefinitely with an undefined goal in mind. The best client for CodeBuilders is one that wants to use our development process and expertise to deliver an end product that reaches its fullest potential. Central to CodeBuilder&rsquo;s value for our clients is our "Not-To-Exceed" pricing model, which eliminates the risk typically associated with large-scale software development projects.</p>
            <p class="statement_text">Our team comes with a perfect combination of business analysis and technical expertise, with a focus on 100 percent client satisfaction.</p>
            <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <br>
            <h2 class="statement_header">Industries</h2>
        </div>
        <div class="col-md-4">
            <img src="assets/images/HealthCareThumb.jpg" class="industry_logo" title="Healthcare">
        </div>
        <div class="col-md-4">
            <img src="assets/images/FinanceThumb.jpg" class="industry_logo" title="Finance">
        </div>
        <div class="col-md-4">
            <img src="assets/images/MultilevelMarketingThumb.jpg" class="industry_logo" title="Marketing">
        </div>
        <p>&nbsp;</p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <br>
            <h2 class="statement_header">Products</h2>
        </div>
        <div class="col-md-4 service_align">
            <div class="serviceBox">
                <span class="iconCircle text-center">
                    <span>
                        <i class="fa fa-mobile fontawesome" aria-hidden="true"></i>
                    </span>
                </span>
                <br>
                <a href="#" class="product_link">
                    <strong class="apps"> Mobile Applications</strong>
                </a>
                <div class="detail">
                  <br>
                  <p class="product_text">We have Developing Mobile Applications for Android, Iphone with Effective and High Speed Performances.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 service_align">
            <div class="serviceBox">
                <span class="iconCircle text-center">
                    <span>
                        <i class="fa fa-laptop fontawesome" aria-hidden="true"></i>
                    </span>
                </span>
                <br>
                <a href="#" class="product_link">
                    <strong class="apps"> Desktop Applications</strong>
                </a>
                <div class="detail">
                  <br>
                  <p class="product_text">Develop scalable and mission-critical software systems in house or on the cloud for your business.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 service_align">
            <div class="serviceBox">
                <span class="iconCircle text-center">
                    <span>
                        <i class="fa fa-code fontawesome" aria-hidden="true"></i>
                    </span>
                </span>
                <br>
                <a href="#" class="product_link"><strong class="apps"> Web Applications</strong></a>
                <div class="detail">
                  <br>
                  <p class="product_text">We have Building bussiness Applications with high-end Frameworks like Angular, NodeJs, React with Responsive for various Devices.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 service_align">
            <div class="serviceBox">
                <span class="iconCircle text-center">
                    <span>
                        <i class="fa fa-check fontawesome" aria-hidden="true"></i>
                    </span>
                </span>
                <br>
                <a href="#" class="product_link"><strong class="apps"> Quality Assurance</strong></a>
                <div class="detail">
                  <br>
                  <p class="product_text">Ensure full compliance to standards for performance, security and more with our ISO 9001 & ISO 27001 certified standards testing.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 service_align">
            <div class="serviceBox">
                <span class="iconCircle text-center">
                    <span>
                        <i class="fa fa-cloud fontawesome" aria-hidden="true"></i>
                    </span>
                </span>
                <br>
                <a href="#" class="product_link"><strong class="apps"> Cloud & Infrastructure Services</strong></a>
                <div class="detail">
                  <br>
                  <p class="product_text">Deliver secure and reliable cloud based solutions. When demand spikes, Codebuilders is equipped to help your company scale computing resources to ensure reliability and consistency.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 service_align">
            <div class="serviceBox">
                <span class="iconCircle text-center">
                    <span>
                        <i class="fa fa-recycle fontawesome" aria-hidden="true"></i>
                    </span>
                </span>
                <br>
                <a href="#" class="product_link"><strong class="apps"> System Moderization</strong></a>
                <div class="detail">
                  <br>
                  <p class="product_text">We have Building bussiness Applications with high-end Frameworks like Angular, NodeJs, React with Responsive for various Devices.</p>
                </div>
            </div>
        </div>
    </div>
</div>
